<!DOCTYPE html>
<html>
	<head>
		<title>Railsmicroblog</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar">
				<a href="/posts">Home</a>
				<a href="/users/1">Martin's Profile</a>
				<a href="/users/new">Sign Up</a>
		</div><br><br>
		<%= yield %>
	</body>
</html>